{% extends "padre.html" %}
{% block estilos %}
<!--LINKS CSS-->
<link rel="stylesheet" type="text/css" href="status/css/juego.css">
{% endblock %}
{% block central %}
<!-- Contenido principal -->
<section id="principal">
    <div id="lateraljuego">
        <img id="juego" src=".\status\image\portadas\{{evento['portada']}}" />
        <div id="preciojuego">{{evento['precio']}}€</div>
        <div id="botoncomprar">COMPRAR</div>
    </div>
    <h1 id="titulojuego">{{ evento['titulo'] }}</h1>
    <div id="marca">
        <p id="textomarca">NINTENDO</p>
    </div>
    <div id="descripcion">
        <!-- Descripción del producto -->
        <p class="desc">{{ evento['descripcion'] | striptags('<br />,<br>')|raw}}</p>
    </div>
</section>
<section id="multimedia">
    <div class="imagendiv"><img class="imagen" src=".\status\image\juegos\{{imagenes[0]['img']}}">
        <div class="pieimg">{{imagenes[0]['descripcion']}}</div>
        <div class="dropdown"><img class="imagen" src=".\status\image\juegos\{{imagenes[0]['img']}}">
            <div class="pieimg">{{imagenes[0]['descripcion']}}</div>
        </div>
    </div>
    <section class="galeria">
        <div class="items_galeria">
        <div class="item_galeria">
          <img class="imagen_galeria" src=".\status\image\juegos\{{imagenes[0]['img']}}" alt=""/>
        </div>
        <div class="item_galeria">
          <img class="imagen_galeria" src=".\status\image\juegos\{{imagenes[1]['img']}}" alt=""/>
        </div>
        <div class="item_galeria">
          <img class="imagen_galeria" src=".\status\image\juegos\{{imagenes[2]['img']}}" alt=""/>
        </div>
        <div class="item_galeria">
          <img class="imagen_galeria" src=".\status\image\juegos\{{imagenes[3]['img']}}" alt=""/>
        </div>
</div>
        <div class="botonslider"><img class=flecha src=".\status\image\flecha_izq.png"/><img class=flecha src=".\status\image\flecha_der.png"/></div>
      </section>
    <!-- Video -->
    <div id="cajavideo"><iframe id="video" width="560" height="315"
            src="https://www.youtube.com/embed/{{evento['video']}}" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</section>
<!-- Tabla de información del producto -->
<section id="tabla">
    <table id="customers">
        <tr>
            <th colspan="2" id="titulotabla">Datos del producto</th>
        </tr>
        <tr>
            <td class="colum">Fecha de lanzamiento</td>
            <td>{{evento['fecha']}}</td>
        </tr>
        <tr>
            <td class="colum">Género</td>
            <td>{{evento['genero']}}</td>
        </tr>
        <tr>
            <td class="colum">Plataforma</td>
            <td>{{evento['plataforma']}}</td>
        </tr>
        <tr>
            <td class="colum">Desarrollador</td>
            <td>{{evento['desarrollador']}}</td>
        </tr>
        <tr>
            <td class="colum">Puntuación</td>
            <td>{{evento['puntuacion']}}</td>
        </tr>
    </table>
</section>

<!-- Sección de contacto de la marca -->
<section>
    <div id="contacto">
        <address>
            Nintendo Co., Ltd<br>
            nintendoespana@nintendo.com<br>
            Nintendo Ibérica, C. Estébanez Calderón, 3, 5, 28020 Madrid<br>
            MADRID, ES<br>
            +34 917 88 64 00 <br>
        </address>
    </div>
    <div id="enlacesexternos">
        <div class="enlaceexterno">
            <p class="enlaceexternotexto"><a class="enlacetext" href="{{evento['web']}}" target="_blank">WEB OFICIAL</a>
            </p>
        </div>
        <div class="enlaceexterno">
            <p class="enlaceexternotexto"><a class="enlacetext" href="{{evento['masinfo']}}" target="_blank">MÁS
                    INFO</a></p>
        </div>
    </div>
    <div id="redessociales">
        <div class="redsocial"><a href="https://es-la.facebook.com/{{evento['facebook']}}" target="_blank"><img
                    class="iconored" src=".\status\image\facebook.png"></a></div>
        <div class="redsocial"><a href="https://twitter.com/{{evento['twitter']}}" target="_blank"><img class="iconored"
                    src=".\status\image\twitter.png"></a></div>
        <div class="redsocial"><a href="https://www.instagram.com/{{evento['instagram']}}" target="_blank"><img
                    class="iconored" src=".\status\image\instagram.jpg"></a></div>
        <div class="redsocial"><a href="./eventoimprimir/{{evento['link']}}" target="_blank"><img class="iconored"
                    src=".\status\image\impresora.png"></a></div>
    </div>
</section>
<hr />

<!-- Comentarios de los usuarios -->
<section id="comentarios">
    <h2 id="titulocomentarios">Comentarios</h2>
    <button id="botoncomentarios">Mostrar comentarios</button>
    <div id="cajacomentarios">
        <div class="formulario">
            <form id="formulariocomentarios">
                <label for="nombre">Nombre</label> <span class="error"></span>
                <input class="nombreyape">
                <label for="apellidos">Apellidos</label> <span class="error"></span>
                <input class="nombreyape">
                <label for="titulo">Título</label> <span class="error"></span>
                <input id="titulocomen">
                <label for="email">Correo Electrónico </label><span class="error"></span>
                <input id="correo_electronico">
                <label for="comentario">Opinion </label><span class="error"></span>
                <textarea id="comentario" maxlength="1000"></textarea>
                <span id="contador"></span><span class="error"></span>
                <br />
                <button type="button" id="enviar">Enviar</button>
            </form>
        </div>
        {% for coment in comentarios %}
        <div class="comentario">
            <div class="cabeceracomentario">
                <div class="perfil">
                    <div class="imagenperfil"><img class="avatar" src=".\status\image\{{coment['img']}}"></div>
                    <div class="nombreusuario">{{coment['nombreyapellidos']}}</div>
                </div>
                <div class="titulocomentario">
                    <h4 class="textoopinion">{{coment['titulo']}}</h4>
                    <span class="fecha">{{coment['fecha']}}</span>
                </div>
            </div>
            <div class="opinion">{{coment['descripcion']}}</div>
        </div>
        {% endfor %}

    </div>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript" src="status/js/formulario.js"></script>
{% endblock %}