<html>

<head>
    <meta charset="utf-8">
    <title>SWITCHERS - La mejor tienda de videojuegos de Nintendo Switch!</title>

    <!--favicon-->
    <link rel="icon" href=".\status\image\favic.ico" type="image/ico" />
    <base href="/" />


    <script src="https://kit.fontawesome.com/4b3671e02a.js" crossorigin="anonymous"></script>
    <!--LINKS CSS-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka:wght@500&display=swap">
    <link rel="stylesheet" type="text/css" href="status/css/estilocomun.css">
    {%block estilos %}

    {% endblock %}
</head>

<body>
    <div id="bombilla"><img id="bombillaimg" src=".\status\image\off.png" /></div>
    {% if usuario is not null %}
    <div id="perfil"><a href="perfil/{{usuario[0]['username']}}"><img id="perfilimg"
                src=".\status\image\{{usuario[0]['imagen_perfil']}}" /></a></div>
    {% endif %}
    <!-- Cabecera -->
    <header>
        <div id="container-logo">
            <img id="logo" src=".\status\image\switch.png">
        </div>
        <div id="container-title-menu">
            <div id="titulo">
                <h1 id="tituloweb"><a id="enlaceformato" href=".\index.php">SWITCHERS</a></h1>
            </div>
            <ul id="menu">
                <li class="oculto"><a class="enlaces" href=".\index.php">Inicio</a> </li>
                <li class="oculto"><a class="enlaces" href=".\contacto.php">Contacto</a> </li>
                {% if usuario|length == 0 %}<li class="oculto"><a class="enlaces" href=".\login.php">Login</a> </li>
                <li class="oculto"><a class="enlaces" href=".\registro.php">Registro</a> </li>
                {% else %}
                {% if usuario[0]['gestor'] == true  or usuario[0]['super'] == 1  %}
                <li class="oculto"><a class="enlaces" href=".\listaproductos.php">Productos</a> </li>
                {% endif %}
                {% if usuario[0]['moderador'] == 1 or usuario[0]['super'] == 1 %}
                <li class="oculto"><a class="enlaces" href=".\listacomentarios.php">Comentarios</a> </li>
                {% endif %}
                <li class="oculto"><a class="enlaces" href="perfil/{{usuario[0]['username']}}">Perfil</a> </li>
                <li class="oculto"><a class="enlaces" href=".\cerrarsesion.php">Cerrar Sesión</a> </li>

                {% endif %}
            </ul>
        </div>
    </header>

    <!-- Contenido principal -->
    <main>
        {% block central %}
        Zona común
        {% endblock %}

    </main>

    <!-- Sección Lateral -->
    <aside>
        <div id="redesgrid">
            <div class="box a"><a href=https://www.instagram.com target="_blank"><img class="redes"
                        src=".\status\image\instagram.jpg"></a></div>
            <div class="box b"><a href=https://twitter.com target="_blank"><img class="redes"
                        src=".\status\image\twitter.png"></a>
            </div>
            <div class="box d"><a href=https://es-es.facebook.com target="_blank"><img class="redes"
                        src=".\status\image\facebook.png"></a></div>
            <div class="box e"><a href=https://www.tiktok.com/es target="_blank"><img class="redes"
                        src=".\status\image\tiktok.png"></a>
            </div>
        </div>
        <div id="oferta">
            <img id="ofertajuego" src=".\status\image\portadas\espada.jpg">
            <div id="textooferta">
                <p id="cartel">¡OFERTA!</p>
                <p id="precio">39,99€ <del id="tachado">59,99€</del></p>
            </div>
            <div class="divwebof">
                <p class="weboficialp"><a class="weboficial" href=https://swordshield.pokemon.com/es-es/
                        target="_blank">Web Oficial</a></p>
            </div>
            <div class="divwebof">
                <p class="weboficialp"><a class="weboficial"
                        href=https://www.nintendo.es/Juegos/Nintendo-Switch/Pokemon-Espada-1522111.html
                        target="_blank">Más Info</a></p>
            </div>
        </div>
    </aside>

    <!-- Pie de página -->
    <footer>
        <br />
        <ul id="pie">
            <li class="footers"><a class="textofooters" href="#">Política de cookies</a></li>
            <li class="footers"><a class="textofooters" href="#">Aviso legal</a></li>
            <li class="footers"><a class="textofooters" href="#">Privacidad web</a></li>
            <li class="footers"><a class="textofooters" href="#">Accesibilidad</a></li>
        </ul>
        <p class="copyright">Teléfono de Contacto: +34 666555444 | Calle Periodista Daniel Saucedo Aranda s/n</p>
        <p class="copyright">© Switcheros 2022. Todos los derechos reservados.</p>
    </footer>
</body>

{% block script %}
script
{% endblock %}
<script type="text/javascript" src="status/js/comun.js"></script>

</html>